
/src/mixmatch/examples/*
!/src/mixmatch/examples/*.ipynb




*.txt

experiments/cifar10sup/cifar10@*/*

!experiments/cifar10sup/cifar10@*/log.txt



//*.pt
nohup.out

/svae/*
!/svae/nets/
!/svae/custom_func/

/scripts/
/shvae-cityscape/
/shvae-cityscape-unsup/
/svae-cifar10/
/svae-cifar10/
/svae-cifar10-boris/
/svae-cifar10-boris-live/

/svae-mnist/*
/sym_vae/*

experiments/cityscape*/cityscape*/*
!experiments/cityscape*/cityscape*/log.txt

# https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
!experiments/cityscape*/cityscape*/figs
experiments/cityscape*/cityscape*/figs/*

!experiments/cityscape8mix/cityscape_cat@mix10/figs/batch_trn-e8-a85.png
!experiments/cityscape8mix/cityscape_cat@mix10/figs/batch_tst-e8-a85.png
!experiments/cityscape8mix/cityscape_cat@mix100/figs/batch_trn-e8-a91.png
!experiments/cityscape8mix/cityscape_cat@mix100/figs/batch_tst-e8-a91.png
!experiments/cityscape8mix/cityscape_cat@mix500/figs/batch_trn-e19-a93.png
!experiments/cityscape8mix/cityscape_cat@mix500/figs/batch_tst-e19-a93.png
!experiments/cityscape8mix/cityscape_cat@mix1000/figs/batch_trn-e32-a94.png
!experiments/cityscape8mix/cityscape_cat@mix1000/figs/batch_tst-e32-a94.png
!experiments/cityscape8mix/cityscape_cat@mixall/figs/batch_trn-e106-a95.png
!experiments/cityscape8mix/cityscape_cat@mixall/figs/batch_tst-e106-a95.png

!experiments/cityscape8sup/cityscape_cat@sup10/figs/batch_trn-e970-a77.png
!experiments/cityscape8sup/cityscape_cat@sup10/figs/batch_tst-e970-a77.png
!experiments/cityscape8sup/cityscape_cat@sup100/figs/batch_trn-e883-a88.png
!experiments/cityscape8sup/cityscape_cat@sup100/figs/batch_tst-e883-a88.png
!experiments/cityscape8sup/cityscape_cat@sup500/figs/batch_trn-e979-a94.png
!experiments/cityscape8sup/cityscape_cat@sup500/figs/batch_tst-e979-a94.png
!experiments/cityscape8sup/cityscape_cat@sup1000/figs/batch_trn-e1017-a95.png
!experiments/cityscape8sup/cityscape_cat@sup1000/figs/batch_tst-e1017-a95.png
!experiments/cityscape8sup/cityscape_cat@supall/figs/batch_trn-e434-a96.png
!experiments/cityscape8sup/cityscape_cat@supall/figs/batch_tst-e434-a96.png



!experiments/cityscape19sup/cityscape_19@sup10/figs/batch_trn-e770-a67.png
!experiments/cityscape19sup/cityscape_19@sup10/figs/batch_tst-e770-a67.png
!experiments/cityscape19sup/cityscape_19@sup100/figs/batch_trn-e1024-a83.png
!experiments/cityscape19sup/cityscape_19@sup100/figs/batch_tst-1024-a83.png
!experiments/cityscape19sup/cityscape_19@sup500/figs/batch_trn-e1023-a90.png
!experiments/cityscape19sup/cityscape_19@sup500/figs/batch_tst-e1023-a90.png
!experiments/cityscape19sup/cityscape_19@sup1000/figs/batch_trn-e639-a91.png
!experiments/cityscape19sup/cityscape_19@sup1000/figs/batch_tst-e639-a91.png


_env.yml
*.zip
*.jpg


/latex/*
!/latex/_*.tex
!/latex/DP.tex
!/latex/Diploma Thesis.bib


# Python generic gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
